<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand text-light" href="#" style="margin-left: 2%;">Archivage Electronique</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link text-light" href="#">Accueil</a>
      </li>

    </ul>
  </div>
</nav>


<div class="container">

  <a class="btn btn-primary" style="margin-top: 4%;" (click)="Back()"> Retour </a>


  <div class="row" *ngIf="doc">



    <h3 style="margin-top: 2%;">{{ doc?.metadata_storage_name }}</h3>


    <div class="col-md-2">


      <div class="card  filter">

        <div class="card-body">

         <h4 class="row justify-content-center">  Détail  </h4>

         <div>

           <br>

          <p><img src="/assets/pdf.png"  *ngIf="doc.metadata_storage_content_type == 'application/pdf' "class="img-fluid" width="25">
           <img src="/assets/file.png"  *ngIf="doc.metadata_storage_content_type == 'image/png' "class="img-fluid" width="25">
           {{ doc.metadata_storage_content_type }} </p>

         </div>

        </div>

      </div>


    </div>
    <div class="col-md-5" style="margin-top: 5%;">

      <div>

       <br>

       <div class="row form-group" style="margin-top: 2%;">

        <input type="text" [(ngModel)]="searchTerm" class="form-control" />


      </div>

       <div class="card document" style="margin-top: 5%;align-items: center;">



         <div class="card-body"  >

          <img src="/assets/Spinner.gif" class="img-fluid row justify-content-center" *ngIf="queryActivated" width="50" height="50" style="margin-top:60%;">

          <iframe [src]="url"  type="application/pdf" width="auto" height="350">

          </iframe>

         </div>

       </div>

      </div>

    </div>

   <div class="col-md-5" style="margin-top: 5%;">

     <div>

      <br>

      <h6  style="margin-left: 2%;">Text Traduit </h6>

      <div class="card document" style="margin-top: 11.5%;align-items: center;">

        <div class="card-body"
        >
        <div
        [highlight]="searchTerm"
        customClasses="text-light text-bold bg-dark"
        >
        sisis
        </div>
      </div>
      </div>

     </div>

   </div>

  </div>

  <div *ngIf="!doc" class="row justify-content-center">

    <img src="/assets/Spinner.gif" class="img-fluid"  style="margin-top:10%;width: 100px;">

  </div>

</div>



